html{
    font-size: 18px;
}
/*etapa 2 task 1*/
body{
    --cul-back:#8A2700;
    --cul-text:bisque;
    --cul-border:#008A73;
    --spatiere-pag:50px;
    --padding-sec:15px;
    --culoare-fundal-inchis:#C886FF;
}
body.emar{
    --cul-back:rgb(18, 5, 5);
    --cul-text:rgb(255, 247, 247);
}
body{
    background-color: var(--cul-back);
    color: var(--cul-text);
    padding-left: var(--spatiere-pag);
    padding-right: var(--spatiere-pag);
    min-width: 450px;
    
}

h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1rem;
}
/* etapa 2 task 2*/
#grid-pagina{
    display: grid;
    grid-template-areas: "z-intro z-intro z-intro z-intro"
                         "z-tabel z-tabel z-calendar z-calendar"
                         "z-tabel z-tabel z-anunturi z-anunturi"
                         "z-utilizatori z-statis z-statis z-server"
                         "z-int-stuff z-int-stuff z-int-stuff z-int-stuff";
                         
    
                         gap: 20px 20px;
}
 
#grid-pagina > *{
    border: 2px solid var(--cul-border);
    padding: var(--padding-sec);
}

#intro{
    grid-area: z-intro;
}
#tabel{
    grid-area: z-tabel;
}
#calendar{
    grid-area: z-calendar;
}
#utilizatori{
    grid-area: z-utilizatori;
}
#anunturi{
    grid-area: z-anunturi;
}
#statis{
    grid-area: z-statis;
}
#server{
    grid-area: z-server;
}
#int-stuff{
    grid-area: z-int-stuff;
}

img{
    width: 100%;
    max-width: 400px;
}






/* Color Theme Swatches in Hex 
.Dojooo-1-hex { color: #8A2700; }
.Dojooo-2-hex { color: #FCDED2; }
.Dojooo-3-hex { color: #D64006; }
.Dojooo-4-hex { color: #008A73; }
.Dojooo-5-hex { color: #40D6BD; }

*/
