<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Oni Dojo - cos virtual.">
        <meta name="keywords" content="dojo, oni, echipament, manusi, box, tibiere, cotiere, genunghiere, produse, cos virtual">
        <link rel="stylesheet" href="/stuff/css/cos-virtual.css" type="text/css" />
        <title>Oni Dojo - cos virtual</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src="/stuff/js/cos_virtual.js"></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        
        <button id="cumpara">
            Cumpara
        </button>        
    
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>