<!--Etapa 1_Task 1-->
<!DOCTYPE html>
<html lang="ro">
    <!--Etapa 1_Task 2-->
    <head>
        
        
        <meta name="keywords" content="arte martiale, karate, muay thai, kickboxing, MMA, sport, dojo, club sportiv, club, antrenament, kickboxing, boxing, autoaparare, sport de contact">
        <title>Oni Dojo</title>
        <meta name="description" content="Cursuri de arte martiale pentru incepatori si avansati in Bucuresti. Clase de Muay Thai, Kickboxing, MMA, Karate.">
       <%- include("../fragmente/head.ejs") %> 
        <!-- Etapa 1_Task 1 -->
       




    </head>
<!--Etapa 1_Task 4-->
    <body>
        <%- include("../fragmente/header.ejs") %>

        <main>
           <h2>Bau bau</h2>
        </main>
        <p id="watermark">Copyright Pavel<br>Neagu</p>

        <%- include("../fragmente/footer.ejs") %>
        <!-- Etapa1_Task14 -->
        <p><small> &copy; Copyright <time datetime="2023-03-07">7 Martie 2023</time></small></p>
    </body>
   



