<footer>
    <a href="#" class="upz" title="Hopa sus">&#5123</a>
    <!-- Etapa1_Task13 -->
    <p id="banner">Acesta este un proiect scolar!</p>
    <address id="contact">
        <ul class="contacts">
            <li>
                <i class="fa-solid fa-phone"></i>
                Telefon: <a href="tel:0799059921">0799059921</a></li>
            <li>
                <i class="fa-solid fa-map"></i>
                Adresa: <a href="https://goo.gl/maps/CMXPN1hX8gPmjB9q6" target="_blank">Bulevardul Matasii 86</a></li>   
            <li>
                <i class="fa-solid fa-envelope"></i>
                Email : <a href="mailto:onidojo@gmail.com">onidojo@gmail.com</a></li>
            <li>
                <i class="fa-brands fa-whatsapp"></i>
                Da-ne un mesaj pe WhatsApp!  <a href="https://wa.link/knr3ew" target="_blank">Whatsapp</a>
            </li>
        </ul>
    </address>


</footer>