<script src="/stuff/js/tema.js"></script>
<header>
    <!--Etapa 1_Task 5-->
    <h1 id="first">Oni Dojo</h1>
    


</header>


<nav>
    <label id="hamburger" for="ch-menu">
        <img src="stuff/pics/Hamburger_icon_alb.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
      
        <li>
            <div id="casuta">Acasa</div><div id="casuta-mediu"><i class="fa-solid fa-house"></i></div>
            <ul>
                <li>
                    <a href="/" class="subm">Introducere</a>
                </li>
            </ul>
        </li>
        <li>
            <div>Despre noi</div>
            <ul>
                <li>
                    <a href="#clubhistory" class="subm" >Istoria clubului</a>
                </li>
                <li>
                    <a href="#antrenori" class="subm" >Antrenorii</a>
                </li>
                
            </ul>
        </li>
        <li>
            <div>Cursuri</div>
            <ul>
                <li>
                    <a href="#class-k" class="subm">Karate</a>
                </li>
                <li>
                    <a href="#class-MMA" class="subm">MMA</a>
                </li>
                <li>
                    <a href="#class-kb" class="subm">Kickboxing</a>
                </li>
                <li>
                    <a href="#class-mt" class="subm">Muay Thai</a>
                </li>
            </ul>
        </li>
        <li>
            <div><a href="/produse">Produse</a></div>
            <ul>
                <li>
                    <a href="/produse?tip=cofetarie" class="subm">Toate</a>
                </li>
                <li>
                    <a href="/produse?tip=gelaterie" class="subm">Echipament</a>
                </li>
                <li>
                    <a href="/produse?tip=patiserie" class="subm">Abonament</a>
                </li>
            </ul>
        </li>
        <li>
            <div><a href="#contact"><span>Contact</span></a></div>
        </li>
        <li>
            <div>Contul meu</div>
            <ul>
                <li>
                    <a href="#mydata" class="subm">Datele mele</a>
                </li>
                <li>
                    <a href="#wishlist" class="subm">Wishlist</a>
                </li>
                <li>
                    <a href="#myorders" class="subm">Comenzile mele</a>
                </li>
                <li>
                    <a href="#refunds" class="subm">Retururile mele</a>
                </li>
            
                <li>
                    <a href="#mysub" class="subm">Abonamentul meu</a>
                </li>
            </ul>
            
        </li>
        <li>
            <div><a href="#mybasket">Cosul meu</a></div>
        </li>

    </ul>
</nav>